:root {
  --main-bg: #051622;
  --primary: #1BA098;
  --color1: #DEB992;
}

*, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

.primary {
  color: var(--primary);
  font-size: 1.2rem;
}

.active {
  color: var(--color1);
}

a {
  text-decoration: none;
}

.root {
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-color: var(--main-bg);
  margin: auto;
  min-width: 320px;
  color: gray;
}

.App .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0px;
}

.App .top-nav .logo {
  padding: 24px;
}

.App .top-nav .logo a {
  font-weight: 500;
  color: var(--primary) !important;
}

.App .top-nav .nav {
  margin: 24px 24px;
}

.App .top-nav .nav ul li {
  margin: 0 20px;
  display: inline-block;
  list-style: none;
}


.App content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  height: 100vh;
}

.App content .welcome p {
  padding: 5px 10px;
  font-size: 1.8rem;
  text-align: center;
  
}
.app content .buttons{
  display: flex;
  justify-content: space-between;

  margin: 80px auto;
}


.App content.home {
  font-family: 2rem;
  background-image: url(../asset/cover.png);
  background-repeat:no-repeat;
  background-position: bottom center;
}

.App content .welcome {
  margin-top: 20px;
}
.App content .cta {
  margin: 5px 5px;
}
.App content .buttons .cta  {
  padding: 2px 4px;
  background-color: var(--color1);
  font-size: 1em;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  height: 30px;
  width: 180px;
  text-align: center;
}
.App content .buttons .cta a {
  width: 100%;
  height: 100%;
  color: var(--main-bg);
  font-size: 1.4rem;
}

.App footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* height: 100px; */
  position:relative;
  bottom: 0;
  color: var(--primary);
  width: 100%;

}

.App footer .links ul {
  padding: 10px 10px;
}

.App footer .links ul li {
  margin: 0 10px;
  display: inline-block;
  list-style: none;
}

.App footer .copyright p {
  padding: 10px;
}

.typing {
  border: solid 2px grey;
  border-radius: 10px;
  min-width: 360px;
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  padding: 5px;
}
content {
  display: flex;
  flex-direction: column;
}
.quote .text p {
overflow: hidden;
}

.typing .quote {
  border-bottom: solid 2px grey;
  margin-bottom: 10px;
  background-color: linen;
  border-radius: inherit;
  height: 142px;
  overflow:hidden;
}

.typing .quote .text {
  overflow: auto;
}


.typing .quote .text p {
  font-family: Times New Roman, Times, serif;
  font-size: 2.2em;
  padding: 5px;
}

.typing .quote .text span.now {
  background-color: #c9c7c7;
}

.typing .current {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.typing .current .input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 20px;
}

.typing .current .input input {
  background-color: lightgoldenrodyellow;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 10px;
  width: 200px;
}

.typing .current .actions button {
  cursor: pointer;
  background-color: lightsteelblue;
  font-size: 1.5em;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 0 10px;
}
.timer {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 10px;
  color: var(--primary);
  border-radius: 10px;
  margin: 0 10px;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.status .timer p {
  font-size: 3em;
  font-family: monospace;
}
/*# sourceMappingURL=App.css.map */

.curr {
  background-color: rgb(153, 79, 221);
  color:white;
  border-radius: 2px;
}

.done {
  color: rgb(173, 172, 172)
}

.wrong{
  color: rgb(240, 128, 128);
}
.cor {
    color:rgb(221, 221, 155);
}
.actions {
  display: flex;
  
}




@media screen and (max-width: 425px) {
  .typing .current .actions button{
    margin: 5px 0;
  }

  .App content .welcome {
    margin-top: 5px;
  }
  .App content .welcome p {
    font-size: 1.4rem;
  }

  .typing .current {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .actions {
    flex-direction: column;
  }

  .actions button {
    margin-top: 10px;
  }

  .timer {
    margin-top: 10px;

  }

  .typing .quote p {
    font-family: Times New Roman, Times, serif;
    font-size: 1em;
    padding: 5px;
  }
  .typing {
    margin: 20px 20px;
    padding: 5px;
  }

}
